*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*fondo de paginas*/
body {
    font-family: 'Lato', sans-serif;
    background-color:  rgb(239, 186, 195);
}
/*titulo en mayúscula*/
header h1 {
    text-transform: uppercase;
    text-decoration: underline;
}

/*estilo items para menu*/
header h1 {
    color: rgb(239, 186, 195);
}

.header {

    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: rgb(77, 75, 75);
}


.header__navbar {
    margin: 5px;
    transition: 1s;
    color: pink;
}
/*subrayado en servicios y home*/
span {
    background-color: rgb(77, 75, 75);
}

/*imagen y texto*/
.main__{
    margin: 10px 20px 60px 20px;
}
.div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 40px;
    margin: 50px;
}
.div__img {
    width: 15%;
}
.div p {
    font-size: 20px;
}
.main {
    margin: 200px 20px;
}


/* servicios*/
.servicio_ {
margin-bottom: 300px;
}

.carrito_ {
    display: flex;
    height: 350px;
}

.carrito__ {
    font-size: 20px;
    flex-direction: row;
    align-items: center;
    margin: 40px;
    background-color: rgb(77, 75, 75);
    color: rgb(239, 186, 195);
}
.carrito__compra {
    display: flex;
  justify-content: center;
  background-color:  rgb(239, 186, 195);
  border: 3px solid  rgb(51, 50, 50);
  color: rgb(77, 75, 75);
}


/*whatsapp*/
.img__whatsapp {
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin: 20px;
    width: 50px;
}

/*metodos de pago*/
.img__ {
    margin-top: 120px;
    margin-bottom: 350px;
}
.metododepago {
    color: rgb(238, 89, 114);
}
.img__uno {
    margin-right: 30px;
}
.img__dos {
    margin-right: 30px;
}
.img__tres {
    margin-right: 30px;
}
.img__cuatro {
    margin-right: 30px;
}


/*contacto*/
.formulario{
display: flex;
justify-content: center;
margin-bottom: 500px;
}
.formulario__{
color: rgb(238, 89, 114);
}

/*sobre mi*/
.sobremi_ {
    margin-bottom: 100px;
}

/*footer*/


footer {
    display: flex;
    justify-content: center;
    color: rgb(239, 186, 195);
    background-color:  rgb(51, 50, 50);
    height: 150px;
}