*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import "utilities/variables";

//fondo y letra de paginas
body {
    font-family: 'Lato', sans-serif;
    background-color: $color-principal;
}

//estilo items para menu y titulo
header h1 {
    
    text-transform: uppercase;
    text-decoration: underline;
    color: $color-principal;
  }

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: $color-secundario;
}


.header__navbar {
    margin: 5px;
    transition: 1s;
    color: $color-principal;
}
//subrayado en home
span {
    background-color: $color-secundario;
}

//imagenes y texto
.main__{
    margin: $medida-main;
}
.div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $medida-div;
    margin-top: $medida-div-dos+20;
    margin-bottom: $medida-div-dos+450;
}
.div__img {
    width: $medida-imgdiv;
}
.div p {
    font-size: $medida-divparrafo;
}
.main {
    margin: $medida-maindos;
}


//servicios
.servicio_ {
margin-bottom: $medida-div-dos*6;
}

.carrito_ {
    display: flex;
    height: $medida-div-dos*6 +50;
}

.carrito__ {
    font-size: $medida-divparrafo;
    flex-direction: row;
    align-items: center;
    margin: $medida-divparrafo*2;
    background-color: $color-secundario;
    color: $color-principal;
}
.carrito__compra {
  display: flex;
  justify-content: center;
  background-color:  $color-secundario;
  border: $medida-border solid $color-terciario; 
  color: $color-letracompra;
  transition: 3s;
}


//whatsapp
.img__whatsapp {
    position: fixed;
    bottom: $medida-whatsapp;
    right: $medida-whatsapp;
    margin: $medida-divparrafo;
    width: $medida-div-dos;
}

//metodos de pago
.img__ {
    margin-top: $medida-div-dos;
    margin-bottom: $medida-div-dos*8;
}
.metododepago {
    font-size: $medida-divparrafo;
    color: $color-letracompra;
}
.img__uno {
    margin-right: $medida-divparrafo+10;
}
.img__dos {
    margin-right: $medida-divparrafo+10;
}
.img__tres {
    margin-right: $medida-divparrafo+10;
}
.img__cuatro {
    margin-right: $medida-divparrafo+10;
}


//contacto
.formulario{
display: flex;
justify-content: center;
margin-bottom: $medida-div-dos*10;
}
.formulario__{
color: $color-letracompra;
}
//sobre mi
.sobremi_ {
    margin-bottom: $medida-div-dos*2;
}

//footer


footer {
    display: flex;
    justify-content: center;
    color: $color-principal;
    background-color:  $color-terciario;
    height: $medida-div-dos*3;
}
//media
@media (min-width: 320px) {

    //home
    .div__img {
        width: $medida-div-dos*2;
        margin-right: $medida-divcelu;
    }
    .div p {
        font-size: $medida-maincelu; 
    }
    .div {
        margin-bottom: $medida-div-dos+200;
    }
    .main__ {
        font-size: $medida-letracelu+1;
    }


    //servicio
    .carrito_ {
        display: flex;
        flex-direction: column;
    }
    
    .carrito__ {
        font-size:  $medida-maincelu;
    }
    .carrito__compra {
        transition: 3s;
      }
    .main_servicios {
        margin-top: $medida-div-dos+600;
    } 
    .servicio_ {
        margin-bottom: $medida-div-dos;
    }


   //metodos de pago
   .main_metododepago {
    font-size: $medida-letracelu;
   }
   .metododepago {
    font-size: $medida-maincelu;
   }
   .img__uno {
    margin: $medida-divcelu;
   }
   .img__dos {
    margin: $medida-divcelu;
   }
   .img__tres {
    margin: $medida-divcelu;
   }
   .img__cuatro {
    margin: $medida-divcelu;
   }
   //sobre mi
   .sobremi {
    font-size: $medida-letracelu;
    text-align: center;
   }
   .sobremi_ {
    font-size: $medida-maincelu;
    margin-bottom: $medida-div-dos*3;
    text-align: center;
   }
}

@media (min-width: 1200px) {
    //home
    .div__img {
        width: $medida-divparrafo *10;
        margin-right: $medida-divparrafo;
    }

    .div p {
        font-size: $medida-letracelu; 
        text-align: center;
    }
    .div {
        margin-top: $medida-divparrafo;
        margin-bottom: $medida-div-dos+300;
    }
    
    //servicios
    .carrito_ {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .carrito__ {
        height:$medida-div-dos+200;
        width: $medida-div-dos+270;
        font-size: 1.3rem;
    }
    .carrito__compra {
        transition: 3s;
      }
    .main_servicios {
        margin-top: $medida-div-dos+130;
    }
    .main_servicios h3 {
        font-size: $medida-maincelu+1.2;
    }
    .servicio_ {
        font-size: $medida-maincelu+0.4;
        margin-bottom: $medida-div-dos+150;
    }
    //metodos de pago
   .main_metododepago {
    font-size: $medida-maincelu+1;
   }
   .metododepago {
    font-size: $medida-letracelu;
   }
   .img__uno {
    margin-right: $medida-divparrafo+10;
   }
   .img__dos {
    margin-right: $medida-divparrafo+10;
   }
   .img__tres {
    margin-right: $medida-divparrafo+10;
   }
   .img__cuatro {
    margin-right: $medida-divparrafo+10;
   }

   //contacto
   .formulario{
    display: flex;
    justify-content: center;
    margin-bottom: $medida-div-dos*10;
    }
    
    //sobre mi
   .sobremi {
    font-size: $medida-maincelu+1;
    text-align: center;
   }
   .sobremi_ {
    font-size: $medida-letracelu;
    margin-top: $medida-div-dos+30;
    margin-bottom: $medida-div-dos+150;
    text-align: center;
   }
}