//color
$color-principal: rgb(239, 186, 195);
$color-secundario: rgb(77, 75, 75);
$color-terciario: rgb(51, 50, 50);
$color-letracompra: rgb(237, 105, 127);

//medidas
$medida-maindos: 200px 20px;
$medida-whatsapp: 0px;
$medida-div: 0 px 40px;
$medida-div-dos: 50px;
$medida-divparrafo: 20px;
$medida-imgdiv: 15%;
$medida-border: 3px;
$medida-divcelu: 10px;
$medida-letracelu: 1.5rem;
$medida-maincelu: 1rem;
$medida-maincompu: 150px 20px;



